<% include ./header %>

<section class="engine"><a href="/">home</a></section><section class="mbr-section info3 cid-r2BM1gB1Pe" id="info3-7">
    </section>
    <section class="mbr-section info3 cid-r2BM1gB1Pe" id="info3-7">
        <div class="container">
            <div class="row justify-content-center">
                   <div class="title col-12 col-lg-12">
                       <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                           More info about <%=job.name%> job</h2>
                   </div>
            </div>
        </div>
        <div class="container">
                <div class="media-container-column col-lg-10">
                            <div class="row row-sm-offset">
                                <div class="col-md-12 multi-horizontal" >
                                    <div class="form-group">
                                        <label class="form-control-label mbr-fonts-style display-7" for="name-form1-t"><em>Job Name</em></label>
                                        <h1><%=job.name%></h1>
                                    </div>
                                </div>
                                <div class="col-md-12 multi-horizontal">
                                        <div class="form-group">
                                            <label class="form-control-label mbr-fonts-style display-7" for="name-form1-t"><em>The job was posted on ..</em></label>
                                            <h1><%=job.postedDate.toDateString() %></h1>
                                        </div>
                                    </div>
                                <div class="col-md-12 multi-horizontal">
                                    <div class="form-group">
                                        <label class="form-control-label mbr-fonts-style display-7" for="company-form1-t"><em>Job Posted By ..</em></label>
                                        <h2><%= job.company %></h2></div>
                                </div>
                                <div class="col-md-12 multi-horizontal">
                                    <div class="form-group">
                                        <label class="form-control-label mbr-fonts-style display-12" for="location-form1-t"><em>Where you will be working..</em></label>
                                        <h2><%= job.location %></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="qualification-form1-t"><em>The Qualifications are </em></label>
                                    <textarea type="text" class="form-control" name="qualification" rows="7" data-form-field="qualification" id="qualification-form1-t"><%= job.qualification %></textarea>
                                </div>
                            <div class="form-group" >
                                <label class="form-control-label mbr-fonts-style display-7" for="description-form1-t"><em>This is what the company is want to accompolish</em></label>
                                <textarea type="text" class="form-control" name="description" rows="7" data-form-field="description" id="description-form1-t"><%= job.description %></textarea>
                            </div>  
                </div>
        </div>
    </section>
    
    <% include ./footer %>
